#game-container {
  max-height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
}

.cell {
  width: 15vh;
  height: 15vh; 
  background-color: blue;
  font-size: 12vh;
  text-align: center;
}

.goblin {
  background-image: url(../img/goblin.png);
  background-position: center center;
  background-size: cover;
}

.cursor {
  cursor: url(https://cdn.custom-cursor.com/db/7920/32/hummer-kirby-and-wooden-mallet-cursor.png) , default;
}

.start-game {
  margin-bottom: 2vh;
  width: 47vh;
  height: 12vh;
}

.pointsContainer {
  display: flex;
  font-size: 5vh;
  justify-content: space-between;
}

.point {
  color: green;
}

.losePoint {
  color: red;
}

.point::before {
  content: 'point: ';
}

.losePoint::before {
  content: 'lose: ';
}

.hidden {
  display: none;
}

.game-over {
  font-size: 5vh;
  text-align: center;
}